.grid-item {
	&:nth-of-type(odd) {
		clear: left;
	}

	&:nth-of-type(even) {
		clear: right;
	}

	h5 {
		color: #666666;
	}

	.grid-item-anchor {
		color:inherit;

		&:hover, &:focus {
			text-decoration: none;
		}

		&:hover .panel {
			box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.1);
			background-color:#fdfdfd;
		}
	}

	.grid-item-image {
		width:128px;

        &.grid-item-image-logo {
            padding: 24px;
        }
    }

}

.media-body p {
    margin: 7px 0 0 0;
}

@media(max-width: 500px) {
    .media-expand {
        display: block;
        text-align: center;
        padding: 0;
        margin-bottom:15px;

        .media-placeholder {
            display:none;
        }

        .grid-item-image {
            width: auto;
            height: 128px;
        }
    }
}