.unruly-logo-tech {
	.unruly-logo-icon {
		height: 65px;
		margin: -10px 0px;
	}

	.unruly-logo-text {
		font-size: 24px;
	}
}

.header-spacer {
    height: 75px;
}

@media(max-width: 991px) {

    .navbar-nav .unruly-logo {
        padding-top: 20px;
        padding-bottom: 20px;

        img {
            height: 35px;
        }
    }
}