.headroom {
	transition: box-shadow 0.5s;
}

.headroom--top {
	box-shadow: none;
	transition: box-shadow 0.3s;
}

.unruly-logo-tech {
	.unruly-logo-icon {
		height: 65px;
		margin: -10px 0px;
	}

	.unruly-logo-text {
		font-size: 24px;
	}
}