.jumbotron {
	position:relative;
	overflow:hidden;
}

.jumbotron-title {
    padding-bottom: 0;
    margin-bottom: 0;

    .jumbotron-details {
        margin-top: 100px;
        background-color: #ffffff;

        h2 {
            color: #444444;
            text-shadow: 0 0 5px rgba(255,255,255,0.5);
        }

        @media(max-width: 767px) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

.jumbotron-background {
	position: absolute;
	width: 110%;
	height: 110%;
	top: -5%;
	left: -5%;
	z-index: 5;
	background-size: cover;
	background-position: center center;
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	filter: blur(1px);
}

.jumbotron-details {
	position:relative;
	z-index: 10;
	background-color: rgba(0,0,0,0.7);
	padding: 10px 30px;

	h1 {
		color: #ffffff;
		text-shadow: 0 0 5px rgba(0,0,0,0.5);
	}

	h3 {
		color: #777777;
		text-shadow: 0 0 5px rgba(0,0,0,0.5);
	}

	p {
		color: #bbbbbb;
	}
}

.carousel {
    background: #333333;

    .jumbotron {
        margin-bottom: 0;
    }

    .slick-dots {
        top: auto;
        bottom: 0;
        right: 0;
        left: 0;
        margin: 5px auto;

        li {

            &.slick-active button:before {
                color: white;
            }

            button:before {
                color: #eeeeee;
                text-shadow: 1px 1px 1px black;
            }
        }
    }
}