@import "header";
@import "footer";
@import "jumbotron";
@import "grid";
@import "gallery";

body {
	min-width:320px;
}

.contributor {
    margin: 10px 0;

    .media-heading {
        white-space: nowrap;
    }
}

.contributor-links {
    white-space: nowrap;

    a {
        font-size: 20px;
        margin: 0 3px;
    }
}

.developer-image {
    width: 64px;
}

.developer-container {
    margin: 20px -5px;
}

.developer {
    margin: 5px;
    float: left;

    &:hover {
        box-shadow: 0 1px 2px 1px rgba(0,0,0,0.1);
    }
}

.btn-full-width {
    width:100%;
    margin-bottom:20px;
}

.latest-member {
    img {
        opacity: 0.5;
        transition: all 0.1s;
        width: 50px;
    }

    &:hover img {
        opacity: 1;
        transition: all 0.2s;
    }
}

#postsContainer::after {
    display: block;
    background-position: center -13px;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 200px;
    height: 200px;
    content: " ";
    position: absolute;
    right: -300px;
    bottom: 500px;
    background-image: url("../images/bots/bot-happy-right.png");
    border-left: 1px solid #dddddd;
}

.post {
    margin-bottom: 50px;

    &:not(:first-child) {
        border-top: 1px solid #dddddd;
        padding-top:20px;
    }
}

.post-feature {
    text-align: center;
    margin: 20px 0;
    background: #eeeeee;
}

.post-meta {
    margin: 10px 0;
}

.post-image {
    max-width: 75%;
    width: auto;
    height: auto;
}

.post-label {
    text-transform: uppercase;
    color: #999999;
    font-weight: bold;
}

.post-content {
    margin: 10px 0 20px;
}

.loading {
    text-align:center;
    font-size:50px;
    padding: 50px;
    color:#dddddd;
}

.article-text {
    font-size: 16px;
}

.panel-image {
    text-align: center;
    position:relative;
    .panel-body {
        height: 150px;
        background-size: cover;
        background-position: center center;
    }

    &.panel, .panel-body, .panel-heading {
        border: none;
    }
}

.panel-image-link {

    &:hover {
        text-decoration: none;
        .panel-body {
            border-width: 5px 5px 0 5px;
            border-color: #49afcd;
            border-style: solid;
        }
        .panel-heading {
            background-color: #49afcd;
            color: #ffffff;
        }
    }

}

.chutney-color {
    color: #E47025;
}

.marmalade-color {
    color: #6C5A90;
}

.tabasco-color {
    color: #D72132;
}

.chutney-background {
    background-color: #E47025;
}

.marmalade-background {
    background-color: #6C5A90;
}

.tabasco-background {
    background-color: #D72132;
}

.team-description {

    .team-header {
        background: #333333;
        padding: 10px 0 10px 15px;
        color: white;
        margin: 50px 0 20px;
        position: relative;

        &::after {
            display: block;
            background-size: auto 120px;
            background-position: center -13px;
            background-repeat: no-repeat;
            width: 100px;
            height: 100px;
            content: " ";
            position: absolute;
            right: 10px;
            bottom: 0;
        }

    }

    small {
        text-transform: uppercase;
        color: #666666;
    }

    .tech-cloud {
        margin: 20px 0;
    }

    &.chutney {
        .team-header::after {
            background-image: url("../images/bots/chutney-bot-happy.png");
        }
    }

    &.marmalade {
        .team-header::after {
            background-image: url("../images/bots/marmalade-bot-happy.png");
        }
    }

    &.tabasco {
        .team-header::after {
            background-image: url("../images/bots/tabasco-bot-happy.png");
        }
    }
}