@import "header";
@import "footer";
@import "jumbotron";
@import "grid";
@import "gallery";

body {
	min-width:320px;
    font-size: 16px;
}

.contributor {
    margin: 10px 0;

    .media-heading {
        white-space: nowrap;
    }
}

.contributor-links {
    white-space: nowrap;

    a {
        font-size: 20px;
        margin: 0 3px;
    }
}

.developer-image {
    width: 64px;
}

.developer-container {
    margin: 20px -5px;
}

.developer {
    margin: 5px;
    float: left;

    &:hover {
        box-shadow: 0 1px 2px 1px rgba(0,0,0,0.1);
    }
}

.btn-full-width {
    width:100%;
    margin-bottom:20px;
}

.latest-member {
    img {
        width: 50px;
    }
}

#postsContainer::after {
    display: block;
    background-position: center -13px;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 200px;
    height: 200px;
    content: " ";
    position: absolute;
    right: -210px;
    bottom: 500px;
    background-image: url("../images/bots/bot-happy-right.png");
    border-left: 1px solid #eeeeee;
}

.post {
    margin-bottom: 50px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom:20px;
}

.post-feature {
    text-align: center;
    margin: 20px 0;
    background: #eeeeee;
}

.post-meta {
    margin: 10px 0;
    text-transform: uppercase;
    font-size:12px;
}

.post-image {
    max-width: 75%;
    width: auto;
    height: auto;
}

.post-label {
    text-transform: uppercase;
    color: #999999;
    font-weight: bold;
}

.post-content {
    margin: 10px 0 20px;

    pre {
        background: none;
        border: none;
        padding: 0;
        font-size: 14px;

        code {
            white-space: pre-line;
        }
    }
}

.post-summary {
    position:relative;
    overflow:hidden;
    max-height:500px;

    .post-summary-fade {
        position: absolute;
        pointer-events:none;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: linear-gradient(180deg,rgba(255,255,255,0), rgba(255,255,255,0) 60%, #ffffff);
    }
}

.loading {
    text-align:center;
    font-size:50px;
    padding: 50px;
    color:#dddddd;
}

.article-text {
    font-size: 18px;
    line-height: 1.5em;
}

.panel-image {
    text-align: center;
    position:relative;

    .panel-body {
        height: 150px;
        background-size: cover;
        background-position: center center;
    }

    &.panel, .panel-body, .panel-heading {
        border: none;
    }
}

.panel-image-link {
    .panel-image {
        box-shadow: 4px 4px 0 0 #ddd;
    }

    &:hover {
        text-decoration: none;

        .panel-image {
            box-shadow: 2px 2px 0 0 #eee;
        }

        .panel-body {
            border-width: 5px 5px 0 5px;
            border-color: #49afcd;
            border-style: solid;
            transition: border 0.1s;
        }

        .panel-heading {
            transition: color 0.1s, background-color 0.1s;
            background-color: #49afcd;
            color: #ffffff;
        }
    }

}

.chutney-color {
    color: #E47025;
}

.marmalade-color {
    color: #6C5A90;
}

.tabasco-color {
    color: #D72132;
}

.chutney-background {
    background-color: #E47025;
}

.marmalade-background {
    background-color: #6C5A90;
}

.tabasco-background {
    background-color: #D72132;
}

.tech-cloud {
    margin: 20px 0;
}

.tag-list {
    font-size: 20px;
    line-height:30px;
}

.panel-gray {
    background-color: #fafafa;
}
