= wrap_layout :layout do
  %article
    .jumbotron.jumbotron-title
      .container
        .row
          .jumbotron-details.col-md-10.col-md-offset-1
            %h1.page-header=current_article.title
            .post-meta.text-muted
              %time= current_article.date.strftime('%B %d, %Y')
              - if current_article.data.author
                • By #{current_article.data.author}
      .jumbotron-background{ style:"background-image: url('/images/jobs-banner-placeholder.jpg')" }
    .container
      .post.post--current.col-md-10.col-md-offset-1
        .post-content.article-text
          =yield
    -staff = data.staff.find {|s| s.name === current_article.data.author}
    -if staff
      =partial "/partials/post-staff", :locals => { :staff => staff }
    .container
      .row
        .col-md-10.col-md-offset-1
          .post-meta Tags
          %p.tag-list
            - current_article.tags.each do |tag|
              =link_to tag, "/blog/tags/#{tag}.html", :class => 'label label-info'
