<div class="page-header">
    <h2>
    	<img src="{{logo}}" alt="Meetup Logo">
    	<span>{{name}}</span>
    	<a class="btn btn-lg btn-primary pull-right hidden-xs hidden-sm" href="{{link}}" target="_blank">
			<span class="fa fa-fw fa-certificate"></span>
			<span>Join {{memberCount}} other members!</span>
		</a>
    </h2>
</div>

<div class="row visible-xs visible-sm">
	<div class="col-xs-12">
		<a class="btn btn-lg btn-primary btn-full-width" href="{{link}}" target="_blank">
			<span class="fa fa-fw fa-certificate"></span>
			<span>Join {{memberCount}} other members!</span>
		</a>
	</div>
</div>

<div class="row">
	<div class="col-md-4 col-md-push-8">
		<h3>Past Events</h3>
		{{#pastEvents}}
			<div class="media past-event">
		  		<div class="media-body">
  					<a href="{{event_url}}" target="_blank">
			    		<h4 class="media-heading">{{name}}</h4>
					</a>
		    		<p class="text-muted">Held {{time}}</p>
		  		</div>
			</div>
		{{/pastEvents}}

		<h3>Latest Members</h3>
		{{#latestMembers}}
			<div class="media latest-member">
				{{#photo.photo_link}}
			    	<div class="media-left">
						<a href="{{url}}" target="_blank">
		      				<img class="media-object" src="{{photo.photo_link}}" alt="Member Photo">
						</a>
			  		</div>
		  		{{/photo.photo_link}}
		  		<div class="media-body">
					<a href="{{url}}" target="_blank">
						<h4 class="media-heading">{{name}}</h4>
					</a>
		    		<p class="text-muted">Joined {{joined}}</p>
		  		</div>
			</div>
		{{/latestMembers}}
	</div>
	<div class="col-md-8 col-md-pull-4 article-text">
		<h3>About the Group</h3>
		{{{descriptionHtml}}}

		<div class="gallery js-flickity">
			{{#images}}
				<div class="gallery-cell"><img src="{{photo_link}}" alt="Group Image" /></div>
			{{/images}}
		</div>
	</div>
</div>

