<div class="grid-item col-md-12 col-sm-6">
    <div class="media contributor">
        <a href="{{githubUrl}}" title="{{name}}" class="media-left media-middle">
            <img class="img-thumbnail developer-image" src="{{#image}}{{image}}{{/image}}">
        </a>
        <div class="media-body media-middle">
            <h5 class="media-heading">{{name}}</h5>
            <p class="contributor-links">
                {{#links}}
                    <a href="{{url}}" title="{{name}}"><span class="fa {{iconClass}}"></span></a>
                {{/links}}
                <a href="{{githubUrl}}" title="{{name}}'s GitHub">
                    <span class="fa fa-github"></span>
                </a>
            </p>
        </div>
    </div>
</div>