<div class="jumbotron jumbotron-top">
    <div class="jumbotron-details">
        <h1>{{title}}</h1>
        <p>by {{author.name}}</p>
        <p><a class="btn btn-primary btn-lg link" href="{{link}}" target="_blank" role="button">Read more</a></p>
    </div>
    <div class="jumbotron-background" style="background-image: url('{{image}}')"></div>
</div>