<div class="col-md-6 grid-item">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media">
                <div class="media-body media-middle">
                    <h4 class="media-heading">{{title}}</h4>
                    <h5>
                        <span>Posted on {{date}}<span>
                        {{#recent}}
                            <span class="label label-info">new!</span>
                        {{/recent}}
                    </h5>
                    <p>{{summary}}</p>
                    <p><a class="btn btn-default" href="{{link}}">Find out more</a></p>
                </div>
            </div>
        </div>
    </div>
</div>