<div class="post">
    <h3 class="post-title"><a href="{{url}}" target="_blank">{{title}}</a></h3>
    <div class="post-meta text-muted">{{date}} • By {{author.name}}</div>
    {{#image}}
        <div class="post-feature">
            <a href="{{url}}" target="_blank">
                <img class="post-image" src="{{image}}" alt="">
            </a>
        </div>
    {{/image}}
    <div class="post-label">Excerpt</div>
    <div class="post-content article-text">
        {{&summary}}
    </div>
    <a class="btn btn-primary" href="{{url}}">Read more</a>
</div>