<div class="col-md-6 grid-item">
    <a class="grid-item-anchor" href="{{url}}">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media">
                    <span class="media-left media-middle">
                        {{#image}}
                            <img class="grid-item-logo grid-item-image" src="{{image}}" alt="Logo">
                        {{/image}}
                        {{^image}}
                            <div class="grid-item-logo grid-item-language grid-item-language-{{language_class}}">{{language}}</div>
                        {{/image}}
                    </span>
                    <div class="media-body media-middle">
                        <h3 class="media-heading">{{name}}</h3>
                        <p>{{description}}</p>
                    </div>
                </div>
            </div>
            {{#badges.length}}
                <div class="panel-footer">
                    {{#badges}}
                        <img src="{{.}}" />
                    {{/badges}}
                </div>
            {{/badges.length}}
        </div>
    </a>
</div>