<div class="col-md-6 grid-item">
    <a class="grid-item-anchor" href="{{url}}">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media">
                    <span class="media-left media-middle">
                        <img class="grid-item-image grid-item-image-logo" src="{{#image}}{{image}}{{/image}}{{^image}}./images/repo-placeholder.png{{/image}}" alt="{{name}} icon">
                    </span>
                    <div class="media-body media-middle">
                        <h4 class="media-heading">{{name}}</h4>
                        <p>{{description}}</p>
                        {{#badges.length}}
                            <p>
                                {{#badges}}
                                    <img src="{{.}}" />
                                {{/badges}}
                            </p>
                        {{/badges.length}}
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>