<div class="jumbotron">
    <div class="container">
        <div class="jumbotron-details">
            <h3>Upcoming Event{{#date}} {{date}}{{/date}}</h3>
            <h1>{{name}}</h1>
            <p>{{{descriptionHtml}}}</p>
            <p>{{membersCount}} people signed up!</p>
            <p>
                <a class="btn btn-primary btn-lg link" href="{{link}}" target="_blank" role="button">Find out more</a>
            </p>
        </div>
    </div>
    <div class="jumbotron-background" style="background-image: url('{{image}}')"></div>
</div>