---
title: Developer Exchange
description:
  Last year Unruly ran a Developer Exchange with 7digital. We're both companies with similar levels of experience in
  XP/agile development but working in different technology stacks. Our aim was to provide a mutual learning experience
  and pickup some ideas for improving the way we work by seeing how another company does things.
author: Rachel Davies
date: 2014-05-12 12:00 UTC
published: true
tags: initiatives
---
<p>
  Last year Unruly ran a Developer Exchange with 7digital. We&#39;re both companies with similar levels of experience in
  XP/agile development but working in different technology stacks. Our aim was to provide a mutual learning experience
  and pickup some ideas for improving the way we work by seeing how another company does things.
  <a class="pull-right" href="http://agilecoach.typepad.com/.a/6a00e54ee21bf2883401a511e21aa0970c-pi">
    <img alt="DeveXchange" class="img-responsive" src="http://agilecoach.typepad.com/.a/6a00e54ee21bf2883401a511e21aa0970c-320wi" style="margin: 0 0 5px 5px;" title="DeveXchange" />
  </a>
</p>
<p>
  What we did was to arrange for a developer swap -- Imran a Java developer from our team went over to work at 7digital
  for a week then Raoul a web developer came over to work with our teams for a week. The swap was staggered so we did not
  swap Imran and Raoul on the same week. Each developer had the opportunity while they were at the host company to pair
  with developers on different teams. They were also welcome to&#0160;attend team meetings such as standups, planning and
  retrospectives. Imran even facilitated a few of retrospectives at 7digital.
</p>
<p>
  It was helpful for Unruly to swap with 7digital as we were approaching a point where we were about to split a large
  team that worked on a monolithic application and 7digital had already implemented something similar. I think 7digital
  were interested to see how we approach our Continous Deployment and approach to product development.
</p>
<p>
  Now that a year has elapsed, we&#39;re planning to do another Developer Exchange with 7digital.&#0160;Unruly is also
  looking to do this with some other companies, such as Red Gate and Mendeley.
</p>
<p>
  A prerequisite for us is that the exchange partner has developers who already practice XP to enable pairing. It&#39;s
  less important to be using the same technology, our developers are used to working across full stack from front-end to
  database. We have three teams to pair with and an assortment of languages and frameworks including:- Java, Tomcat,
  Spring, Play, Javascript, Angular, Node, Grunt, Mocha, Vectorwise, Postgres, Hibernate, Cassandra, Puppet, Cascading,
  Mockito, DbUnit, Jasmine.
</p>
<p>
  So if your company are already experienced XP practitioners and the idea of a swap sounds interesting to you, please
  get in touch.
</p>
