---
title: Conference Club
description:
  The first rule of Conference Club is to talk about talking at conferences
author: Rachel Davies
date: 2014-05-27 12:00 UTC
published: true
original_url: http://rachelcdavies.github.io/2014/05/27/conference-club.html
tags: initiatives
---
<h4><em>&quot;The first rule of Conference Club is to talk about talking at conferences&quot;</em></h4>
<p>Presenting at conferences is a great experience where you get to consolidate your knowledge and connect with other people passionate about the same things. But speaking in front of your peers can be a scary prospect for developers and they often underestimate the value to others of what they know. For instance in our teams, we have lots of experience&#0160;with XP, Continuous Delivering, UX and JS testing frameworks. Does that mean we&#39;re all experts? Not necessarily but we can share practitioner experiences and that&#39;s a valuable to people who&#39;re only just getting started with new approaches.</p>
<p>Back in January, I started a lunchtime meeting called &quot;Conference Club&quot; for anyone in our team who wanted to learn more about the steps they need to take to present at industry conferences. Five months later, I&#39;m pleased to see that several of the people who came along have submitted sessions to calls for participation and been accepted as speakers.</p>
<p class="post-feature"><img alt="Screen Shot 2014-05-27 at 17.34.21" src="http://agilecoach.typepad.com/.a/6a00e54ee21bf2883401a73dcc4f5f970d-320wi" style="margin: 0px 5px 5px 0px;" title="Screen Shot 2014-05-27 at 17.34.21" /></p>
<ul>
  <li>Alex and Benji presented on <a href="http://vimeo.com/channels/pipelineconf/96233529" target="_blank" title="Scaling Continuous Delivery">&quot;Scaling Continuous Delivery&quot;</a> at Pipeline conference in London</li>
  <li>Vikki presented a <a href="http://2014.jsday.it/talk/if-you-like-it-then-you-should-have-put-a-test-on-it-a-comparison-of-front-end-acceptance-testing-frameworks/" target="_blank" title="comparison of front-end acceptance testing frameworks">comparisonof front-end acceptance testing frameworks</a>&#0160;at JsDay in Verona</li>
  <li>Arber will be presenting on &quot;Extreme Product Development&quot; at <a href="http://agilenorth.org/2014-conference/" target="_blank" title="Agile North">Agile North</a></li>
  <li>Mike will be presenting on &quot;<a href="http://sched.co/1eEp8RW" target="_blank" title="Zombie Persona Apocalypse">Zombie Personas</a>&quot; at Agile2014.</li>
</ul>
<p>We only had a few meetings of Conference Club but it was enough to explore people&#39;s worries and share some practical tips on how to get over them.</p>
<h3>Basic Steps</h3>
<ol>
  <li>TOPIC: Identify topics you are interested in and know something about</li>
  <li>BIO: Update your profile on LinkedIn / GitHub / blog / Twitter to reflect your interest/experience</li>
  <li>WHERE: Find meetups / conferences that might people go along to discuss that topic which have open space or CFP (call for participation)</li>
  <li>DATES: When do you need to submit a proposal by, these can be upto 6 months before the conference date</li>
  <li>FORMAT: consider what format is best fit for you and conference (workshop, talk, experience report, etc)</li>
  <li>PREPARE: design material slides or exercise to lead session participants through subject of interest.</li>
  <li>PROPOSE: put forward your idea to organisers</li>
  <li>PRACTICE: do a run thru of session with small group to work out any glitches</li>
</ol>
<p>One basic thing that speakers need to do is practice so we have a fortnightly lightning talks forum that can be used to build confidence speaking to an audience. Unconference events are also great places to explore a topic as you figure out what you want to present to a wider audience.</p>
<h3>Homework Assignments</h3>
<p>1)&#0160;Write a bio for someone else at the meeting using Scott Berkun&#39;s tips on <a href="http://scottberkun.com/2013/how-to-write-a-good-bio/" target="_self" title="How to Write a Good Bio">how to write a good bio</a></p>
<p>2) Prepare an answer to one of the following questions from&#0160;<a href="http://www.noelrappin.com/railsrx/2014/1/18/conference-prompts-or-how-to-submit-proposals-and-influence-people" rel="nofollow">Noel Rappin&#39;s blog&#0160;</a></p>
<p>3) Write an abstract for a new session you&#39;d like to propose for a user group or conference.</p>
<h4>Useful Blogs</h4>
<ul>
  <li><a href="http://janogonzalez.com/2013/12/02/conference-speaking-how-to.html">Conference speaking HOW-TO</a></li>
  <li><a href="http://jenmyers.net/confessions-of-a-semi-amateur-speaker.html">Confessions of a Semi-Amateur Speaker</a></li>
  <li><a href="http://christianheilmann.com/2012/09/05/de-bricking-yourself-starting-out-as-a-speaker/">Debricking yourself as a speaker</a></li>
  <li><a href="http://plg.uwaterloo.ca/~migod/research/beckOOPSLA.html">Kent Beck on how to write a conference abstract</a></li>
  <li><a href="http://chadfowler.com/blog/2013/06/08/how-to-give-a-keynote/">Chad Fowler on&#0160;how to give a keynote</a></li>
  <li><a href="http://ladiesintech.com/sara-wachter-boettcher-fights-a-cheetah/">Podcast on slowing down pace</a></li>
  <li><a href="http://seriouspony.com/blog/2013/10/4/presentation-skills-considered-harmful">Presentation Skills Considered Harmful</a></li>
  <li><a href="http://speaking.io/">http://speaking.io/</a></li>
  <li><a href="https://news.ycombinator.com/item?id=7059303">https://news.ycombinator.com/item?id=7059303</a></li>
  <li><a href="http://www.linkedin.com/today/post/article/20140107225219-172811-presenters-don-t-go-the-way-of-michael-bay">http://www.linkedin.com/today/post/article/20140107225219-172811-presenters-don-t-go-the-way-of-michael-bay</a></li>
  <li><a href="http://www.duarte.com/blog/public-speaking-for-introverts-6-essential-tips">http://www.duarte.com/blog/public-speaking-for-introverts-6-essential-tips</a></li>
  <li><a href="https://www.coursera.org/course/publicspeak">https://www.coursera.org/course/publicspeak</a>&#0160;</li>
  <li><a href="http://www.presentationzen.com/presentationzen/2014/01/dealing-with-presentation-anxiety-stage-fright.html">Dealing with stage fright</a></li>
  <li><a href="http://www.garrreynolds.com/Presentation/pdf/presentation_tips.pdf">Presentation Zen summary</a></li>
  <li><a href="http://sixminutes.dlugan.com/vocal-variety-speech-breathing/">Breathing for voice projection</a></li>
  <li><a href="http://www.youtube.com/watch?v=ynmemxQicQk">How to project your voice</a></li>
  <li><a href="http://speaking.io/">http://speaking.io/</a></li>
  <li><a href="http://www.youtube.com/watch?v=hRdDdS5aZMM">Triangle Method for eye contact</a></li>
  <li><a href="http://www.annashipman.co.uk/jfdi/conference-speaking.html">http://www.annashipman.co.uk/jfdi/conference-speaking.html</a></li>
  <li><a href="http://weareallaweso.me/">http://weareallaweso.me/</a></li>
  <li><a href="http://rckbt.me/2014/01/conference-proposals/">http://rckbt.me/2014/01/conference-proposals/</a></li>
  <li><a href="http://seb.ly/2014/05/how-to-ask-to-get-paid-to-speak/">http://seb.ly/2014/05/how-to-ask-to-get-paid-to-speak/</a></li>
</ul>
<p>&#0160;I also recommend following <a href="https://twitter.com/callbackwomen" target="_blank" title="Callback Women">Callback Women</a> to pick up upcoming call for participation.</p>