---
title: About
description:
  Unruly is a leading ad-tech company based in the heart of London’s Tech City. We are strong believers in
  eXtreme Programming and we believe that our Modern XP practices are leading the way in the London XP community.
---

.jumbotron
  .container
    .jumbotron-details
      %h1 About Us
  .jumbotron-background{ style:"background-image: url('./images/standup.jpg')" }

.container
  .row
    .panel.panel-gray
      .panel-body
        .col-md-8
          %h2 Who we are
          =data.about.description
        .col-md-4
          %img.tech-cloud.img-responsive{ src: "./images/mob-2.jpg" }

  %hr
  %h2 What we use
  %p We use a wide array of technologies and it's always changing based on our needs. Here's a bunch of them.
  .row
    .col-md-3.col-xs-6
      %img.tech-cloud.img-responsive{ src: "./images/clouds/chutney-cloud.png" }
    .col-md-3.col-xs-6
      %img.tech-cloud.img-responsive{ src: "./images/clouds/marmalade-cloud.png" }
    .col-md-3.col-xs-6
      %img.tech-cloud.img-responsive{ src: "./images/clouds/tabasco-cloud.png" }
    .col-md-3.col-xs-6
      %img.tech-cloud.img-responsive{ src: "./images/clouds/shared-cloud.png" }
