---
title: "Developer Blogs"
description: Find out about the latest tech and projects our developers are working on inside and outside of Unruly.
scripts:
  - developer-blogs
---

#featuredPost.jumbotron
  .container
    .jumbotron-details
      %h1= data.developer_blogs.featured.title
      %p= "by #{data.developer_blogs.featured.author}"
      %p
        %a.btn.btn-primary.btn-lg.link{href:data.developer_blogs.featured.link }
          Read more
  .jumbotron-background{ style:"background-image: url('#{data.developer_blogs.featured.image}')" }

.container
  .page-header
    %h2
      Developer Blogs
      %a.pull-right(href="http://video.cdn-unrulymedia-5.com/unruly.github.io/atom.xml" title="Latest Developer Posts Feed")
        %span.fa.fa-fw.fa-rss-square
  .row
    .col-md-8
      #postsContainer
        .loading
          %span.fa.fa-refresh.fa-spin
      %p.text-muted.text-center
        Want more? Check out our developers' blogs!

    .col-md-4
      .col-md-12
        %br
        %p
          Find out about the latest tech and projects our developers are working on inside and outside of
          <a href="http://unruly.co">Unruly</a>.
        %p
          These posts are excerpts taken straight from our developers so click through if you want to read the
          full article.
        %p
          Want to know about recent updates about Unruly's development team? Check the <a href="/index.html">updates home page</a>.

      .col-md-12
        %h3 Contributors
        #contributors.row
        %hr/
        .row
          .col-md-12
            #developers.developer-container