---
title: "Events"
description: Attend tech talks given by a variety of speakers at Unruly HQ during our monthly #XProLo events.
---

<div id="upcoming" class="jumbotron">
    <div class="container">
        <div class="jumbotron-details">
            <h3>Upcoming Event - Not Scheduled</h3>
            <h1>Stay tuned!</h1>
            <p>We don't have an event scheduled at the moment. Stay tuned.</p>
            <p>
                <a class="btn btn-primary btn-lg link" href="#link-to-meetup" target="_blank" role="button">Find out more</a>
            </p>
        </div>
    </div>
    <div class="jumbotron-background" style="background-image: url('./images/upcoming-event-placeholder.jpg')"></div>
</div>

<div id="about" class="container">
  <div class="page-header">
    <h2>
      <img src="./images/xprolo-avatar.jpg" alt="Meetup Logo">
      <span>Extreme Programmers London #XProLo</span>
      <a class="btn btn-lg btn-primary pull-right hidden-xs hidden-sm" href="{{link}}" target="_blank">
        <span class="fa fa-fw fa-certificate"></span>
        <span>Join over 400 other members!</span>
      </a>
    </h2>
  </div>
  <div class="row">
    <div class="col-md-8 article-text">
      <h3>About the Group</h3>
      <p>
        This meetup is for software developers who are interested in how modern eXtreme Programming (XP) is evolving.
        We aim to look beyond basic old-school XP/Agile technical practices, such as TDD, CI/CD, Refactoring, Pairing.
        We will not be providing introductory level talks or hands-on sessions on any of these XP practices.
      </p>
      <p>
        We invite speakers who have interesting ideas to share relevant to developers applying XP.
        We aim to provide an thought-provoking schedule of discussion topics with speakers who are actively involved in
        software development in their current work.
      </p>
      <p>
        We've decided to restrict membership of this group to software developers who already have some experience at
        work with XP technical practices. We're open to anyone with this kind of experience in any programming language.
        Most XP developers need to get to grips with full-stack from front-end to database so talks may range across any
        relevant topics to that activity.
      </p>
      <p>
        We aim to provide talks on  relatively advanced technical topics and avoid discussions around Agile
        transformation/adoption/coaching/craftsmanship.  We will not be providing introductory level talks on any XP
        practices. We also have no interest in non-technical aspects of Scrum/Kanban, etc. Discussions about planning
        techniques will be eschewed.
      </p>
      <p>
        If you are new to Agile or XP, there are already plenty of excellent meet-ups in London for networking and
        introduction to Agile with opportunity for hands-on practice (such as eXtreme Tuesday, Devs in the Ditch and
        Software Craftsmanship). We are not competing with those groups but offering a narrower focus on technical
        discussions for developers practicing XP.
      </p>
    </div>
  </div>
</div>