---
title: "Posts"
scripts:
  - index
---

#featuredPost
  #featuredPostContainer

.container#posts
  .page-header
    %h2 Latest Posts
  .row
    .col-md-8
      #postsContainer
      %p.text-muted.text-center
        Want more? Check out our developers' pages!

    .col-md-4
      .col-md-12
        %h3 About
        %p
          Find out about the latest tech and projects our developers are working on inside and outside of
          <a href="http://unruly.co">Unruly</a>.
        %p
          These posts are excerpts taken straight from our developers so click through if you want to read the
          full article.

      .col-md-12
        %h3 Contributors
        #contributors.row
        %hr/
        .row
          .col-md-12
            #developers.developer-container