---
title: "Jobs"
description: Join Unruly's development team! Be part of a diverse team working across a range of technologies.
scripts:
  - jobs
---

.jumbotron
  .container
    .jumbotron-details
      %h1 Join Unruly!
      %p
        Be part of a diverse team working across a range of technologies.
  .jumbotron-background{ style:"background-image: url('./images/jobs-banner-placeholder.jpg')" }

.container#jobs
  %section
  .page-header
    %h2 Open Roles
  .row#jobsContainer
    .loading
      %span.fa.fa-refresh.fa-spin
  %section.article-text#why
    .page-header
      %h2 Why work with us?
    .row
      .col-md-8
        =data.jobs.pitch
        =link_to 'about.html', class: 'btn btn-primary btn-lg' do
          More about us
      .col-md-4
        .row
          - data.jobs.highlights.each do |highlight|
            .col-md-12.col-sm-4{ class:["col-sm-#{(12/data.jobs.highlights.size).ceil}"] }
              .panel.panel-default.panel-image
                .panel-body{ style:"background-image: url('#{highlight.image}')" }
                .panel-heading
                  %h4= highlight.title