---
title: "Jobs"
scripts:
  - jobs
---

.jumbotron
  .container
    .jumbotron-details
      %h1 Join Unruly!
      %p
        Be part of a diverse team working across a range of technologies.
      %p
        %a.btn.btn-primary.btn-lg.link{ href:"#jobs", role:"button" }
          Open roles
  .jumbotron-background{ style:"background-image: url('./images/jobs-banner-placeholder.jpg')" }

.container#jobs
  .page-header
    %h2 Open Roles
  .row#jobsContainer
    .loading
      %span.fa.fa-refresh.fa-spin