---
title: "Repos"
scripts:
  - repos
---

#featuredRepo
  #featuredRepoContainer

.container#repos
  .page-header
    %h2
      Repositories
      %a.pull-right(href="http://github.com/unruly" title="Unruly on GitHub")
        %span.fa.fa-fw.fa-github
  .row#reposContainer
    .loading
      %span.fa.fa-refresh.fa-spin
